<div class="container py-5">
  <form class="w-100" action="/signup" method="post">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
    </div>

    <div class="form-label-group mb-3">* 為必填欄位</div>

    <div class="form-label-group mb-3">
      <label for="name" class="mb-2">* Name</label>
      <input id="name" name="name" type="text" class="form-control" placeholder="name"
        autocomplete="username" required autofocus>
    </div>

    <div class="form-label-group mb-3">
      <label for="email" class="mb-2">* Email</label>
      <input id="email" name="email" type="email" class="form-control" placeholder="email"
        autocomplete="email" required>
    </div>

    <div class="form-label-group mb-3">
      <label for="password" class="mb-2">* Password</label>
      <input id="password" name="password" type="password" class="form-control"
        placeholder="Password" autocomplete="new-password" required>
    </div>

    <div class="form-label-group mb-3">
      <label for="password-check" class="mb-2">* Password Check</label>
      <input id="password-check" name="passwordCheck" type="password" class="form-control"
        placeholder="Password Check" autocomplete="new-password" required>
    </div>

    <div class="d-grid gap-3">
      <button class="btn btn-primary" type="submit">Submit</button>
      <a href="/signin" class="btn text-primary" role="button">Sign In</a>
    </div>

  </form>
</div>